---
layout: layout.njk
pageTitle: Blog
---
<p>
A list of articles on various subjects. It's a great way to see my perspective/knowledge on a given topic
</p>
<ul class="blog-posts">
	{% for post in collections.posts | reverse %}
	<li>
		<span><i><time datetime="{{ post.date | isoDate }}">{{ post.date | postDate }}</time></i></span>
		<a href="{{ post.url }}">{{ post.data.title }}</a>
	</li>
	{% endfor %}
</ul>
