{{define "content"}}
<p><a href="/">← Back to home</a></p>
<h3>🗁 About this website</h3>
<p>
	Hello everyone ☺. I created this website so that I and others can better
	visualize the contributions I've made to the open source environment
	recently
</p>
<p>
	I contribute to open source because it's one of the best ways to study
	programming. Making changes forces me to understand the code and
	context, which teaches me new concepts. Rather than inventing things
	alone, I learn from brilliant minds who excel at what they do
</p>
<p>
	This website is made purely with Golang, without SSGs, and can be viewed
	in
	<a
		href="https://github.com/willpinha/willpinha.github.io"
		target="_blank"
		rel="noopener noreferrer"
	>
		this repository</a
	>. Feel free to copy and modify it to your preferences
</p>
{{end}}
