{{define "content"}}
<section class="profile">
	<img
		class="profile-photo"
		src="/assets/profile.png"
		alt="Willian Pinheiro"
	/>
	<h1>Willian Pinheiro</h1>
	<p>Software developer</p>
</section>

{{template "contributions" .Contributions}}

<section>
	<h3>My most famous repositories</h3>
	<ul>
		{{range .Repos}}
		<li>
			<a href="{{.URL}}" target="_blank" rel="noopener noreferrer"
				>{{.Name}}</a
			>
			(★{{.Stars}})
		</li>
		{{end}}
	</ul>
</section>

<section>
	<h3>
		Latest pull requests I created [<a href="/pull-requests/">see all</a>]
	</h3>
	<ul>
		{{range .PullRequests}}
		<li>{{template "item" .}}</li>
		{{end}}
	</ul>
</section>

<section>
	<h3>Latest issues I participated in [<a href="/issues/">see all</a>]</h3>
	<ul>
		{{range .Issues}}
		<li>{{template "item" .}}</li>
		{{end}}
	</ul>
</section>

<section>
	<h3>
		Latest discussions I participated in [<a href="/discussions/">see all</a
		>]
	</h3>
	<ul>
		{{range .Discussions}}
		<li>{{template "item" .}}</li>
		{{end}}
	</ul>
</section>
{{end}}
