{{define "content"}}
<section class="profile">
	<img
		class="profile-photo"
		src="/assets/profile.png"
		alt="Willian Pinheiro"
	/>
	<h1>Willian Pinheiro</h1>
	<p>Software developer</p>
	<p class="profile-links">
		<small>
			<a
				href="https://github.com/willpinha"
				target="_blank"
				rel="noopener noreferrer"
				>GitHub</a
			>
			•
			<a
				href="https://linkedin.com/in/willpinha"
				target="_blank"
				rel="noopener noreferrer"
				>LinkedIn</a
			>
			•
			<a
				href="https://willpinha.github.io/resume"
				target="_blank"
				rel="noopener noreferrer"
				>Resume</a
			>
		</small>
	</p>
</section>

<section>
	<h3>🗁 About</h3>
	<p>
		Hello everyone ☺. I created this website so that I and others can better
		visualize the contributions I've made to the open source environment
		recently
	</p>
	<p>
		I contribute to open source because it's one of the best ways to study
		programming. Making changes forces me to understand the code and
		context, which teaches me new concepts. Rather than inventing things
		alone, I learn from brilliant minds who excel at what they do
	</p>
	<p>
		This website is made purely with Golang, without SSGs, and can be viewed
		in
		<a
			href="https://github.com/willpinha/willpinha.github.io"
			target="_blank"
			rel="noopener noreferrer"
		>
			this repository</a
		>. Feel free to copy and modify it to your preferences
	</p>
</section>

{{template "contributions" .Contributions}}

<section>
	<h3>🗁 My most famous repositories</h3>
	<ul>
		{{range .Repos}}
		<li>
			<a href="{{.URL}}" target="_blank" rel="noopener noreferrer"
				>{{.Name}}</a
			>
			★{{.Stars}}
		</li>
		{{end}}
	</ul>
</section>

<section>
	<h3>
		🗁 Latest pull requests I created [<a href="/pull-requests/">see all</a>]
	</h3>
	<ul>
		{{range .PullRequests}}
		<li>{{template "item" .}}</li>
		{{end}}
	</ul>
</section>

<section>
	<h3>🗁 Latest issues I participated in [<a href="/issues/">see all</a>]</h3>
	<ul>
		{{range .Issues}}
		<li>{{template "item" .}}</li>
		{{end}}
	</ul>
</section>

<section>
	<h3>
		🗁 Latest discussions I participated in [<a href="/discussions/"
			>see all</a
		>]
	</h3>
	<ul>
		{{range .Discussions}}
		<li>{{template "item" .}}</li>
		{{end}}
	</ul>
</section>
{{end}}
