{{define "item"}}<a
	href="https://github.com/{{.RepoOwnerLogin}}"
	target="_blank"
	rel="noopener noreferrer"
	><img
		class="item-avatar"
		src="{{.RepoOwnerAvatarURL}}"
		alt="{{.RepoOwnerLogin}}"
		loading="lazy"
	/></a
>
<a
	href="{{.RepoURL}}"
	target="_blank"
	rel="noopener noreferrer"
	>{{.RepoName}}</a
>
•
<a href="{{.URL}}" target="_blank" rel="noopener noreferrer"
	>#{{.Number}} {{.Title}}</a
>{{if .State}} ({{if eq .State "merged"}}✔{{else if eq .State "closed"}}✘{{else
if eq .State "open"}}⯃{{end}} {{.State}}){{end}}{{end}}
