{{define "layout"}}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
	<style>
		:root {
			--pico-spacing: 0.75rem;
		}
		.container {
			max-width: 700px;
		}
	</style>
</head>
<body>
	<header class="container">
		<nav>
			<ul>
				<li><strong>Willian Pinheiro</strong></li>
			</ul>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/pull-requests/">Pull requests</a></li>
				<li><a href="/issues/">Issues</a></li>
				<li><a href="/discussions/">Discussions</a></li>
			</ul>
		</nav>
	</header>
	<main class="container">
		{{template "content" .}}
	</main>
	<footer class="container">
		<small>The information above is updated daily. Last updated at {{.UpdatedAt}} UTC</small>
	</footer>
</body>
</html>
{{end}}
